$bg:#2c2c2c;//背景色
$bg-light:#eee;
$fontcolor:#eee;//字体的颜色
$fontcolor-hover:#aaa;
$base-font-size: 16px;//
$bordercolor:#ccc;

html{
    font-size: $base-font-size;
}
html,body{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    // overflow: hidden;
    position: relative;
    background:#f4f4f4;
}
a{
    text-decoration:none;
    color: $fontcolor;
    cursor: pointer;
}
li{
    list-style: none;
}
.left,.right{
    float: left;
}
//px转换rem 自动化转化
@function p($px) {
    @if (unitless($px)) {
      @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
      @return p($px + 0px); // That may fail.
    } @else if (unit($px) == rem) {
      @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
  }

  


  //移动端适配

  @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5,因为5和4的屏幕宽度一样 */}
  @media only screen and (max-device-width :480px){
    html{
        font-size: 8px;
    }
    .right,.left{
            background: blue;
            float: none;
        }
    
   }
  @media only screen and (min-device-width :481px){
      
  }
  
  /*6*/
  @media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){ }
  
  /*6+*/
  @media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){ }
  
  /*魅族*/
  @media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5){ }
  
  /*mate7*/
  @media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3){ }
  
  /*4 4s*/
  @media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){ }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {  }
  
  /* 平板之类的宽度 1024 以下设备 */
  @media only screen and (min-width: 321px) and (max-width: 1024px) {}
  
  /* PC客户端或大屏幕设备: 1028px 至更大 */
  @media only screen and (min-width: 1029px) {}
  
  /* 竖屏 */
  @media screen and (orientation:portrait) and (max-width: 720px) {}
  
  /* 横屏 */
  @media screen and (orientation:landscape){}


  